*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	margin: 50px;
}

button{
	width: 200px;
	height: 50px;
}

button:hover{
	animation: animate 8s linear infinite;
}

@keyframes animate{
	0%{
		background-position: 0%;
	}
	100%{
		background-position: 400%;
	}
}

button:before{
	content: "";
	position: absolute;
	top: -5px;
	left: -5px;
	bottom: -5px;
	right: -5px;
	z-index: -1;
	background: linear-gradient(90deg, #03a9f4,
	 #f441a5, #ffeb3b, #03a9f4);
	background-size: 400%;
	border-radius: 40px;
	opacity: 0;
	transition: 0.4s;
}

button:hover:before{
	filter: blur(20px);
	opacity: 1;
	animation: animate 8s linear infinite;
}

p{
	color: red;
}