*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #222;
}

.clock.flip-clock-wrapper {
    width: auto;
}

.flip-clock-wrapper ul li a
{
	color: #ccc;
}